.app-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5.1rem;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--text-primary);
}

 a {
  text-decoration: none;
  font-size: var(--font-size-navbar-item);
  color: var(--text-primary);
  text-align: center;
}
